{% extends 'templates/app.twig' %}

{% block content %}
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">
					<form class="login100-form validate-form flex-sb flex-w">
						<span class="login100-form-title p-b-51">
							<font color="white">Sign up</font>
						</span>
						
						<div class="wrap-input100 validate-input m-b-16" data-validate = "E-mail is required">
							<input class="input100" type="email" name="email" placeholder="E-mail" maxlength="50">
							<span class="focus-input100"></span>
						</div>
						
						
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password" placeholder="Password" minlength="8" maxlength="50">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password_confirm" placeholder="Comfirm Password" minlength="8" maxlength="50">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "nickname is required">
							<input class="input100" type="text" name="username" placeholder="Nickname" maxlength="12">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "age is required">
							<input class="input100" type="number" name="age" placeholder="Age" maxlength="3">
							<span class="focus-input100"></span>
						</div>

					

						<div align="center">

						    <button type="button" name="gender" class="btn btn-outline-light btn-lg" value="female">Female</button>
						    <button type="button" name="gender" class="btn btn-outline-light btn-lg" value="male">Male</button>

						</div>
						
						<div class="flex-sb-m w-full p-t-3 p-b-24">
						</div>

						<div class="container-login100-form-btn m-t-17">
							<button class="login100-form-btn">
								Sign up
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
    </div>
{% endblock %}