{% extends 'templates/app.twig' %}

{% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-end justify-content-center">
                <div class="hero-slide-content text-center">
                    {% include 'templates/partials/flash.twig' %}
                    <h2>Run Together</h2>              
                    <h4>Find your friedns to do exercise together!</h4>
                    <div class="wrap-home">
                        <div class="c">Real-Time Sensor Data </div>
                        <div class="flex-container">
                            <div><img src="{{ base_url() }}/img/cst/so2.png" alt="so2" style="width:50%;" class="imgcenter"> <div class="border-top-1"></div></div>
                            <div>a</div>
                            <div>3</div>
                            <div>4</div>
                            <div>5</div>
                            <div>6</div>  
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-end justify-content-center">
                <div class="hero-slide-content text-center">
                    {% include 'templates/partials/flash.twig' %}
                    <h2>Do you run alone?</h2>
                    <h4>Check your near friends and grab it now!</h4>
                    <div class="wrap-home">soyeon</div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->
{% endblock %}