{% extends 'templates/app.twig' %}

{% block content %}
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
	
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">
					{% include 'templates/partials/flash.twig' %}
					<form id="chpwForm" class="login100-form validate-form flex-sb flex-w" action="{{ path_for('auth.password.chpw') }}" method="post">
						<span class="login100-form-title p-b-51">
							<font color="white">Change Password</font>
						</span>
						
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password_old" placeholder="Old Password">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password" placeholder="New Password">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password_confirm" placeholder="New Password Confirm">
							<span class="focus-input100"></span>
						</div>

						<div class="container-login100-form-btn m-t-17">
							<button type="submit" id="chpwSubmit" class="login100-form-btn">
								Change Password
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
    </div>
{% endblock %}