{% extends 'templates/app.twig' %}

{% block content %}
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
	
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">
					{% include 'templates/partials/flash.twig' %}
					<form id="resetForm" class="login100-form validate-form flex-sb flex-w" action="{{ path_for('auth.password.resetpw') }}" method="post">
						<span class="login100-form-title p-b-51">
							<font color="white">Reset Password</font>
						</span>
						
						<div class="wrap-input100 validate-input m-b-16" data-validate = "E-mail is required">
							<input class="input100" type="text" name="email" placeholder="E-mail" maxlength="50">
							<span class="focus-input100"></span>
						</div>

						<div class="container-login100-form-btn m-t-17">
							<button class="login100-form-btn" onclick="document.getElementById('resetForm').submit()">
								Send email to me
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
    </div>
	


	<template>
		<div>
		<b-form-group label="Button style radios with <code>outline-primary</code> variant and size <code>lg</code>">
	      <b-form-radio-group id="btnradios2"
	                          buttons
	                          button-variant="outline-primary"
	                          size="lg"
	                          v-model="selected"
	                          :options="options"
	                          name="radioBtnOutline" />
	    </b-form-group>
	</div>
	</template>
{% endblock %}