{% extends 'templates/app.twig' %}

{% block content %}
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
	
		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">
					{% include 'templates/partials/flash.twig' %}
					<form id="cancelForm" class="login100-form validate-form flex-sb flex-w" action="{{ path_for('auth.cancel.cancellation') }}" method="post">
						<span class="login100-form-title p-b-51">
							<font color="white">ID Cancellation</font>
						</span>
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password" placeholder="Password">
							<span class="focus-input100"></span>
						</div>
						<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
							<input class="input100" type="password" name="password_confirm" placeholder="Password Confirm">
							<span class="focus-input100"></span>
						</div>
						<div class="container-login100-form-btn m-t-17">
							<button class="login100-form-btn nav-link" onclick="document.getElementById('cancelForm').submit()">
								ID Cancellation
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
{% endblock %}