{% extends 'templates/app.twig' %}

{% block content %}
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
      <div class="limiter">
        <div class="container-login100" >
          <div class="wrap-chart p-t-50 p-b-90" >
            <form class="login100-form validate-form flex-sb flex-w ">
              <span class="login400-form-title p-b-51">
                <font color="#36287E">Check Your Lastest Path</font>
              </span>
              <div id="map" style="width:100%;height:600px;"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
<template>
  <div>
  <b-form-group label="Button style radios with <code>outline-primary</code> variant and size <code>lg</code>">
      <b-form-radio-group id="btnradios2"
                          buttons
                          button-variant="outline-primary"
                          size="lg"
                          v-model="selected"
                          :options="options"
                          name="radioBtnOutline" />
    </b-form-group>
</div>
</template>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
var mark= (function(){
  var json=null;
  $.ajax({
        'async': false,
        'url': "/maps/exercise/get",
        'dataType': "json",
        'success': function (data) {
            json = data;
          }
    });
    return json;
})();

      function initMap() {
        
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: {lat: 32.887165, lng: -117.240307},
          mapTypeId: 'terrain'
        });

        var flightPlanCoordinates = [];

        for(var one in mark) {
            flightPlanCoordinates.push({lat:mark[one].lat,lng:mark[one].lng});
           
        }
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });
         var marker1 = new google.maps.Marker({
                    map: map,
                    position: flightPlanCoordinates[0],
                    title:'Start Point',                          

                });
          var marker2 = new google.maps.Marker({
                    map: map,
                    position: flightPlanCoordinates[flightPlanCoordinates.length-1],
                    titme:'Finish Point',                          

                });
           var contentString = '<div id="content">'+
                                'you started here! '+
                                '</div>';
          var contentString2 = '<div id="content">'+
                                'you finished here! '+
                                '</div>';
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var infowindow2 = new google.maps.InfoWindow({
            content: contentString2
          });
          marker1.addListener('click', function() {
            infowindow.open(map, marker1);
            });
          marker2.addListener('click', function() {
            infowindow2.open(map, marker2);
            });
        flightPath.setMap(map);
        marker1.setMap(map);
        marker2.setMap(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMURsURWfQpD4syA7AY8Vdi4U_3CeBvOE&callback=initMap"></script>
{% endblock %}