{% extends 'templates/app.twig' %}

{% block content %}

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
            <!-- Single Hero Slides -->
        <div class="single-hero-slide d-flex align-items-end justify-content-center">
            <div class="hero-slide-content text-center">
                {% include 'templates/partials/flash.twig' %}
                <h2>Sensor List View</h2>    
                <div class="wrap-home">
                    <div class="fortable">
                        <table class="table">
                            <thead>
                              <tr>
                                <th class="col-xs-2">#</th>
                                <th class="col-xs-4">Name</th>
                                <th class="col-xs-6">MAC Address</th>
                              </tr>
                            </thead>
                            <tbody>
                            {% for i in 1..auth.sensorcount %}
                                <tr>
                                    <th scope="row">{{ i }}</th>
                                    <td id="name{{ i }}"></td>
                                    <td id="mac{{ i }}"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            updateList();
        });

        function updateList () {
         $.ajax({
           url : "/sensor/get/list",
           type : "GET",
           datatype : "application/json",
           cache: false,
           success : function(data){
             console.log(data);
        //     data = JSON.parse(data);

            var NAME;
            var MAC;
             for(var i in data) {
               NAME = data[i].devicename;
               MAC = data[i].mac;
               $("#name"+(parseInt(i)+1)).html(NAME);
               $("#mac"+(parseInt(i)+1)).html(MAC);
             }
           },
           error : function(data) {
           }
          });
        }
    </script>
    <!-- ***** Welcome Area End ***** -->
{% endblock %}