<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>RunTogether</title>
		<link rel="stylesheet" href="{{ base_url() }}/css/app.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		{% include 'templates/partials/navigation.twig' %}
		<div class="container">
			{% include 'templates/partials/flash.twig' %}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>