{% extends 'templates/app.twig' %}

{% block content %}
    <div class="welcome_area clearfix" id="home" style="background-image: url({{ base_url() }}/img/bg-img/welcome-bg.png)">
  
    <div class="limiter">
      <div class="container-login100" >
        <div class="wrap-chart p-t-50 p-b-90" >
          <form class="login100-form validate-form flex-sb flex-w ">

            <div class="btn-group" style="margin-left: 150px;">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">CO</a>
                <a class="dropdown-item" href="#">CO2</a>
                <a class="dropdown-item" href="#">NO2</a>
                <a class="dropdown-item" href="#">SO2</a>
                <a class="dropdown-item" href="#">O3</a>
                <a class="dropdown-item" href="#">PM 2.5</a>
                <a class="dropdown-item" href="#">PM 10</a> 
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">HeartRate</a>
              </div>

             <div style="margin-left: 600px;">
                <div>
                  
                  <button type="button" class="btn btn-outline-primary">A week</button>
                  <button type="button" class="btn btn-outline-primary">A Month</button>
                  <button type="button" class="btn btn-outline-primary">3 Months</button>
                </div>
              </div>
            </div>
            
           <div>
              <div id="curvchart"></div>
            </div>
         

          </form>
        </div>
      </div>
    </div>
    </div>


<template>
  <div>
  <b-form-group label="Button style radios with <code>outline-primary</code> variant and size <code>lg</code>">
      <b-form-radio-group id="btnradios2"
                          buttons
                          button-variant="outline-primary"
                          size="lg"
                          v-model="selected"
                          :options="options"
                          name="radioBtnOutline" />
    </b-form-group>
</div>
</template>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // Load google charts
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    // Draw the chart and set the chart values
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],
      ['Work', 8],
      ['Friends', 2],
      ['Eat', 2],
      ['TV', 3],
      ['Gym', 2],
      ['Sleep', 7]
    ]);

      // Optional; add a title and set the width and height of the chart
      var options = {
              title: '',
              curveType: 'function',
              legend: { position: 'bottom' },
              width: 1200,
              height: 500,
            };

      // Display the chart inside the <div> element with id="piechart"
      var chart = new google.visualization.LineChart(document.getElementById('curvchart'));
      chart.draw(data, options);
    }
  </script>
{% endblock %}